<div class="center-container">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <app-first-name></app-first-name>
      <app-surname></app-surname>
      <app-phone-number></app-phone-number>
      <app-birthdate
        [birthdayValue]="birthday"
        (newYear)="updateYear($any($event))"
        (newMonth)="updateMonth($any($event))"
        (newDay)="updateDay($any($event))"
      ></app-birthdate>
      <a routerLink="/home">
        <button mat-stroked-button>SIGN UP</button>
      </a>
    </mat-card-content>
  </mat-card>
</div>
