@import "src/styles.scss";

mat-card {
  margin: 2em auto;
  text-align: center;
  padding: 2rem;
  background-color: $white;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
