@import "src/styles.scss";

mat-card {
  margin: 2em auto;
  text-align: center;
  padding: 2rem;
  background-color: $white;
  width: 42vw;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card-title {
  color: $dark-green;
}
